span {
    background-color: red;
    padding: 10px;
    border: 1px solid black;
    /* width: 200px;
    height: 100px; En un elemento de linea no funciona */
}


.container {
    width: 200px;
    height: 100px;
    background-color: blue;
    padding: 10px;
    border: 10px solid black;

    padding: 10px 5px 20px 5px;
    padding: 5px 10px;
    margin: 50px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    /* box-sizing: border-box; */
    box-sizing: border-content;
}


.efectos-visuales {
    border: 5px solid black;
    border-top: 3px dashed red;
    border-radius: 10px;
    border-radius: 10px 20px 30px 40px;
    border-radius: 50%;
}