/* Selector de elemento */
body {
    background-color: lightgray;
    font-family: Arial, sans-serif;

}

p {
    color: red;
}

h1 {
    color: blue;
}

/* Selector de clase:  */
.destacado {
    font-weight: bold;
    background-color: yellow;
}

.texto-grande {
    font-size: 24px;
}

/* Selector por ID */
#encabezado-principal {
    background-color: lightblue;
    color: darkblue;
    padding: 20px;
}

/* Selector Universal */
* {
    margin: 0;
    padding: 0;
}

/* selectores combinados */

/* Descendiente: todos los párrafos dentro de un div */
div p {
    color: blue;
}

/* Hijo directo: solo los párrafos hijos directos de un div */
div > p {
    color: green;
}

/* Selector múltiple */
h2, h4 {
    color: purple;
}

/* Pseudo clases: :hover :active, :focus */
.boton:hover {
    background-color: #45a049;
}

li:first-child {
    color: orange;
    font-weight: bold;
}

li:last-child {
    color: orange;
    font-weight: bold;
}

/* Selector de atributo */
input[type="text"] {
    border: 2px solid red;
    padding: 5px;
}

.justificado {
    text-align: justify;
}

