/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}


h1 {
    text-align: center;
    color: #1874bfff;
    margin-bottom: 25px;
    font-size: 44px;
}

h2  {
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #1874bfff;
    padding-bottom: 5px;
}

.ejemplo {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Ejemplo 1: Flexbox Básico */
.flex-basico {
    display: flex;
    background-color: #e3f2fd;
    padding: 20px;
    gap: 10px;
    border: 2px dashed #2196f3;
}

/* Ejemplo 2 centrado */
.flex-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f2fd;
    padding: 20px;
    border: 2px dashed #2196f3;
}

/* Ejemplo 3 */
.flex-space-between {
    display: flex;
    justify-content: space-between;
    background-color: #e3f2fd;
    padding: 20px;
    border: 2px dashed #2196f3;
}

/* Ejemplo 4 */
.flex-columna {
    display: flex;
    flex-direction: column;
    background-color: #e3f2fd;
    padding: 20px;
    gap: 10px;
    border: 2px dashed #2196f3;
}



/* Estilos de caja */
.caja {
    background-color: #0d88ed;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    min-width: 100px;
}
