/* 1. Celulares (pantallas pequeñas) */
@media (max-width: 480px) {
    body {
        background-color: lightblue;
    }

    h1 {
        color: white;
    }
}

/* 2. Tabletas (Pantallas medianas) */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: lightgreen;
    }
    h1 {
        color: black;
    }
}

/* 3. Desktop (Pantallas grandes) */
@media (min-width: 769px) {
    body {
        background-color: lightcoral;
    }

    h1 {
        color: blue;
    }
}